body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    background-color:#fff;
   
    font-family: 'Montserrat';
    width: 100vw;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
      width: 0.9rem;
      background: transparent;
      display: none;

}
body::-webkit-scrollbar-track{
    background-color:;
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(39, 100, 142, 0.85);
 
 
}
body::-webkit-scrollbar-track-piece:start {
    background: transparent url('images/backgrounds/scrollbar.png') repeat-y !important;
}

body::-webkit-scrollbar-track-piece:end {
    background: transparent url('images/backgrounds/scrollbar.png') repeat-y !important;
}



.nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color:#27648e;
    height:8vh;
    font-family: 'Montserrat';
    color:white;
    
    
    left: 0;
    right: 0;
     z-index: 100;
     
     background-color: rgba(39, 100, 142, 0.85);
    border-color: #080808;

}
.logo h2{
      cursor: pointer;
}

.new_pos{
    position: fixed;
     top:0px;
}
#resize{
    position:absolute;
    top:0px;
}
.origin{
    position: absolute;;
    top:580px;
}
.link{
    display:flex;
    justify-content:space-around;
    width:40%;

}
.link li{
     list-style-type:none;
     font-size: 18px;
}
.link li:hover{
       cursor:pointer;
       color:#da1b60;
       font-size: 18px;
}

.background{
    width:100%;
    
    background-image: url('../img/cc.jpg');
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.cover{
     background-color:rgba(33, 33, 33, 0.68);
      position: absolute;
      top:0vh;
      
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

}
.content{
      width:100%;
      height:auto;
     
     text-align: center;
     color:white;
     

}
.finder{
    width: 160px;
    height:160px;
    border-radius: 50%;
    margin: auto;
    
    animation:myanimation 1.5s infinite ease-out;
    border:8px solid transparent;
}/*#27648e57/#27648eb3/*/
@keyframes myanimation{
    from {border:8px solid transparent;
    }
    to{
        border:8px solid #27648e;
    }
}
.finder img{
    width: 160px;
    height:160px;
    border-radius: 50%;
}

.content h1,.content h2{

    font-size: 50px;
    margin-bottom: 8px;
    margin-top: 10px;
}
.content h2{
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 40px;
}
#add{
    display:block;
    width:130px;
    height:45px;
}
#btn{
   padding:12px 25px;
   text-decoration: none;
   border: 1px solid #fff;
    cursor:pointer;
   border-radius:5px;
   color:white;
    transition: all 0.1s ease-in;
}
#btn:hover{
          background: #27648e;
          border-color: #27648e;
}
.display_nav{

    position:fixed;
    top:10px;
}
#project_title,#text_about,#text_contact{
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 3px solid #27648e;
    
   
}
.con_{
    text-align: center;
}

#con_project,#con_about,#con_contact{
    margin-top: 60px;
    margin-bottom: 57px;

}
.project{

    height: auto;
    width:85.5%;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
}
.information_task{
    margin-bottom: 10px;
}

.information_2 span{
    display: block;
    margin-bottom: 5px;
    font-weight:600;
    font-size:1rem;
}
.information_2{
      height: 29%;
      width: 100%;
      margin-top: 56%;
      margin-left: 15px;
      color: #fff;
}
.task{
    display: inline-block;
    padding: 2px 8px 2px 8px; 
      font-size: 14px;
      box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
      
    }
#HTML5,#HTML{
  background:#e85d25;
 
  
}
.cc{
    width:100%;
    height:100%;
}
#CSS,#CSS3{
  background: #563d7c;
}
#JAVASCRIPT{
    background: #f1e05a;
}

.project_item{
    width:363px;/*361px301px;*/
    height:301px;/*235px;*/
        
         position:relative;
        
          background-size: cover;
          background-repeat:no-repeat;  
          box-shadow: 5px 5px 15px 0px #00000030, -5px -5px 15px 0px #00000030;  
          position: relative;
}
.project_item a{
    text-decoration: none;
    color:#fff;
   
}
.container_information{
    display: none;
    width:100%;
    height:100%;
    background-color: #1b1717d9;
    transition: .7s ease-in;
    position: absolute;
    top:0px;
    left: 0px;
}
.project_item:hover .container_information{
    display: flex;
}

.about{
     width:100%;
     height:auto;
     display:flex;
     justify-content:space-around;
     flex-direction: column;
     align-items: center;
   
}
.information{
    width:40%;

}
.information h1{
    text-align: center;
}
.information span{
    line-height: 42px;
    margin-top: 0px;
    font-size: 1.17em;
    font-weight: 600;

}
.information h3 span{
    text-transform: uppercase;
    font-weight:bold;
    font-size: 30px;

}
.about .img{
    width: 204px;
    height: 204px;
    border:8px double #27648e;
    border-radius: 50%;
    margin-bottom: 20px;

}
.about .img img{
     width:100%;
     height:100%;
     border-radius:50%;

}

.contact{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
      width:75%;
      margin:auto;
      align-items: center;

}
.contact span{
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5em;
}
.contact form{
    width:75%;
}
.form_line{
    margin-bottom:50px;
}
.email_name{
     display:flex;
     justify-content: space-between;
     height:87px;
}
.name,.email{
    width:308px;
}
.name label,.name input,.email label,.email input,#form_line label,#form_line input{
    display:block;

}
label{
    margin-bottom:15px;
    font-size:1.2rem;
    color:#293347a6;
}
.name input,.email input{
    padding-left:25px;
    height:50px;

    width:91%;
}
input,textarea{
    border :1px solid #27648e;
    border-radius:4px;
      outline:none;
         font-family: 'Montserrat';
         font-size: 1.2rem;
}
#send{
      width:198px;
      height:47px;
      border:2px solid #27648e;
      transition:all 0.1s ease-in-out;
        background:transparent;
        border-radius:25px;
        cursor:pointer;
        letter-spacing:1.5px;
        font-size:1.1rem;
        font-weight:bold;
        margin-left: 50%;
        transform: translate(-50%,-50%);
        font-family: 'Montserrat';
}
#send:hover{
    background-color:#27648e;
    color:#fff;
}
#form_line textarea{
   width:96%;
   height:192px;
   padding-left:25px;
}
.plus_contact{
  width:100%;
  display:flex;
   flex-direction: column;
   justify-content:space-around;
   align-items: center;
    margin: auto;
     margin-bottom: 80px;
}
.plus_contact span{
  margin-bottom: 45px;
  font-size: 1.2rem;
  font-weight: 600;

}
.social_media{
  width:18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.social_media a i {
    transform:scale(3);
    color:#c3c3c3;
    transition: all 0.2s ease-in-out;
}
.fa-linkedin:hover{
      color:#007bb6;
}

.fa-github-square:hover{
  color:#24292e;
}
.fa-instagram:hover{
    color: #da1b60;
}
footer{
    height:10vh;
    background-color: #27648e;
    margin:0px;
    padding:18px 0px 10px ;
}
.copyright{
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
   align-items:center;
}
.copyright span{
   color: #fff;
    font-size: 1.1rem;
}
#name{
    font-weight: 600;
}
.copyright span i{
    color:red;
    transform:scale(1.3);
    margin:0px 8px 0px 8px;
  animation: heartbeat 1s  infinite ease-in-out;
  
}
@keyframes heartbeat{
    form {
        transform:scale(1.3);
    }
    to{
        transform:scale(2);
    }
}
.err{
    border-color:red;
}
.valid{
    border-color:green;
}
.totop{
    width:50px;
    height:50px;
    position: fixed;
    right:10px;
    bottom:10px;
    background-color: rgba(39, 100, 142, 0.85);
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.totop:hover{
    background: #007bb6;
}
.totop i{
   transform:scale(1.8);
   color:white;
   margin: auto;
}
@media screen and (max-width:1024px ){
    .link{
        width:60%;
    }
}
