@media screen and (max-width:768px){
    .nav{
        height:7vh;
         flex-direction: column;
         justify-content: flex-start;
        align-items: flex-start;
    }
    .link{
        flex-direction: column;
        width:100%;
        transform: translateX(-100%);
        background: #8340a1;
        z-index: 9999999;
        transition: all .2s ease-in-out;
        
    }
    .link li{
        width:100%;
        height:50px;
        display:flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .open{
        transform: translateX(0%);
    }
    .burger{
        display:block;
        margin:5px;
    }
    .burger div{
        width:30px;
        height:2px;
        background-color: azure;
        display: block;
        margin:5px;
        
    }
    
    .toggle .burg1{
        transform:rotate(-45deg) translate(-5px,5px) ;
     }
     .toggle .burg2{
         transition: all 0.5s ease-in-out;
         
       opacity:0;
     }
     .toggle .burg3{
        transform:rotate(45deg) translate(-5px,-5px);
     }
    .container_header {
         justify-content: center;
    }
    .animate{
        position:absolute;
        bottom:0px;
    }
    .about{
        width:90%;
    }
    .about_information {
        flex-direction: column;
        margin-top: 0px;
    }
    .title{
        margin-bottom: 0px;
    }
    .who,.skills{
        width:100%;
    }
    .language .name{
        width:25%;
        font-size: 0.8rem;
    }
    #html{
        width:75%;
    }
    #css{
        width:65%;
    }
    #js{
        width:65%;
    }
    #react{
        width:35%;
    }
    #php{
        width:50%;
    }
    #java{
        width:45%;
    }
    .who h2{
        font-size: 1.2rem;
        text-align: center;
    }
    .who p
    {
        margin-bottom: 20px;
    }
    .education .title{
        margin:30px 0px 20px 0px;
    }
    .education{
        width:90%;
    }
    .cycle {
        flex-direction: column;
        min-height: 400px;
    }
    .periode{
        width:100%;
        height:40%;
    }
    .detail{
         width:100%;
         height:60%;
         
    }
    .servece {
        flex-direction: column;
    }
    .servece_item{
        width:100%;
        justify-content: center;
        align-items: center;
    }

}