body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.flex {

display:flex;
}
.center_column{

    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.betwwen_row{
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
}
.header{
    display:flex;
    flex-direction: column;

    align-items: center;
    background: #8e45ae;
    margin-bottom: 50px;

}

.nav{
    width:100%;
    height:8.5vh;
    background: #8e45ae;
    display:flex;

    align-items: center;
    justify-content: space-around;


}
.burger{
    display:none;
}
.fixed_nav{
    position:fixed;
    z-index: 9999;
    background: #8340a1;
    top:0px;
}
.link{
    width:35%;
    display:flex;
    align-items: center;
    justify-content: space-between;
   margin:0px;
   padding:0px;

}
.nav ul li{
     list-style-type: none;
     color:#fff;
     font-size: 14px;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor:pointer;
    transition:all .1s ease-in-out;


}
@media screen and (min-width:768px){
.nav ul li:hover {
     padding-bottom:5px;
     border-bottom:3px solid #fff;
}
}


.specialee{
    background: #fff;
    color:#793b94;
    padding:3px 12px 3px 12px;
     border-radius:3px;
}

.container_header{
    width:100%;

     font-family: Raleway,Arial,Verdana,sans-serif;
     color:#fff;
     justify-content: flex-end;

}
h1{
    margin: 20px 0px 15px 0px;

}
.personel span{
    margin: 10px 0px 20px 0px;
}
.personel img{
    width:150px;
    height:150px;
    border-radius:50%;
}
.personel h1{
    text-align: center;
    font-size: 36px;

}
.social{
    height:45px;
    width:180px;
    z-index: 5555;
}
.social a{
    display: inline-flex;
    width:45px;
    height:45px;
    border-radius: 50%;
    border:2px solid #fff;
    text-decoration: none;
    color:#fff;

}
.social a i{
  transform: scale(1.4);
  margin:auto;
 /* transition: .2s ease-in-out;*/
}

#linkden:hover{
    background:#007bb6;
    border-color: #007bb6;
}
#instagram:hover{
    background: #da1b60;
    border-color: #da1b60;
}

#github:hover{
    background:#24292e;
    border-color:#24292e;
}
.social a:hover i{

    transform: scale(1.4);

    animation:rotate .4s ease-in;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
.line{
    width:64px;
    height:3px;
    background: #fff;
    margin: 0px 0px 20px 0px;


}
.animate{
    width:100%;
    height:165px;
    background: linear-gradient(30deg,#8e45ae 12%,transparent 12.5%,transparent 87%,#8e45ae 87.5%,#8e45ae 0),linear-gradient(150deg,#8e45ae 12%,transparent 12.5%,transparent 87%,#8e45ae 87.5%,#8e45ae 0),linear-gradient(30deg,#8e45ae 12%,transparent 12.5%,transparent 87%,#8e45ae 87.5%,#8e45ae 0),linear-gradient(150deg,#8e45ae 12%,transparent 12.5%,transparent 87%,#8e45ae 87.5%,#8e45ae 0),linear-gradient(60deg,#9f59bd 25%,transparent 25.5%,transparent 75%,#9f59bd 75%,#9f59bd 0),linear-gradient(60deg,#9f59bd 25%,transparent 25.5%,transparent 75%,#9f59bd 75%,#9f59bd 0),#793b94;
    background-position: 0 0,0 0,40px 70px,40px 70px,0 0,40px 70px;
    background-size: 80px 140px;
    opacity:.5;


}

.about{
    font-family: Montserrat;

    width:85%;
    margin: auto;
    margin-bottom: 50px;

}

.title{
    text-align: center;
    padding-bottom: 4px;
    font-weight: 700;
    font-size:2rem;
    text-transform:uppercase;
    letter-spacing:.18rem;
   font-family: Montserrat;
}
.about_information{

     justify-content: space-between;
     align-items: center;

}
.who{
    width:48%;
}
.skills{
    width:50%;
}
.language{
    width:100%;
    height:32px;
    background: #eeeeee;
    margin-bottom: 20px;

}
.language .name{
    width:20%;
    height:100%;
    background: #964fb5;
    font-weight: 600;
    font-size:0.9rem;
    color:#fff;
    letter-spacing:.15rem;
    text-transform:uppercase;



}
.language .name p{
    margin:0px;
}
.percent{
    height:100%;
    background:#8340a1;

}
#html{
    width:80%;
}
#css{
    width:70%;
}
#js{
    width:70%;
}
#react{
    width:40%;
}
#php{
    width:55%;
}
#java{
    width:50%;

}
.last{
      margin-bottom:0px;
}
.education{
    font-family: Montserrat;
    width:85%;
    margin: auto;

}
.cycle{
    width:100%;
    height:200px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}
.periode{
    width:20%;
    height:100%;
    background:#964fb5;
    color:#fff;


}

.services{
    background: #8e45ae;
    padding-top:40px;
    margin-top:50px;
    font-family: Raleway,Arial,Verdana,sans-serif;
    position:relative;
    margin-bottom: 40px;


  }
  .whatido{

      justify-content: center;
      align-items: center;
      margin:40px 0px 15px 0px;
      color:#fff;
  }
  .whatido i{
     transform:scale(1.4);
     margin-right:20px;
  }
  .whatido h3{
      font-weight:600;
      font-size:1.5rem;

  }
  .servece{
      width:85%;
      justify-content: space-between;
      align-items: center;

      margin:auto;
      flex-wrap: wrap;
      background-image: url();

  }
  .servece_item{
      display: flex;
      flex-direction: column;
      width:30%;
      color:#fff;
      margin-bottom: 50px;
      z-index: 5555;
  }
  .servece_item h3{
    margin: 10px 0px 15px 0px;
  }
  .servece_item img{
    width: 45px;
    height: 45px;
  }
  .services .animate{
      height:140px;
      position:absolute;
      bottom:0px;
  }
  .projects_items{
    width:75%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(302px,1fr));

    grid-gap: 25px;
    margin:auto;
        margin-bottom: 40px;
  }
   .project{

     border:1px solid #f0f0f0;
     background-size: cover;
     background-position: center;
   }
.project img{
     width:100%;
     height:100%;
}
.contact{
    background: #8e45ae;
    color:#fff;
    padding-top:80px;
    padding-bottom: 80px;

}
#span_title{
  font-size: 24px;
  font-weight: 700;
  font-family: Raleway,Arial,Verdana,sans-serif;
}
.all_items span{
        font-size:18px;
        font-weight: 700;

}
#span_description{
  margin-bottom: 60px;
}
.all_items{
  width:100%;
}
.all_items form{
  width: 60%;
  margin: auto;
  z-index: 9999;
}
.items_form{
       width:100%;
}
.items_form input,#message{

  background:transparent;
  border:none;
  border-bottom: 2px solid #fff;
  width:60%;
  height:38px;
  margin-bottom: 20px;
  padding-left: 10px;
  outline: none;
  font-size: 18px;
  color:#fff;

}
#name,#email,#message{
    transition: .02s ease-in;
}
#name:focus,#email:focus,#message:focus{
  border: 2px solid #fff;

}
#message{
   height:120px;
}
.items_form #send{
    border:none;
    padding: 0px;
    margin-top: 10px;
    width:130px;
    height:50px;
    background:#f5a623;
    color:#fff;
    transition:all .4s ease-in;
    font-weight: 550;
    font-size: 18px;
    font-family: Raleway,Arial,Verdana,sans-serif;
    border-radius: 4px;
    letter-spacing: 1.1px;

}
#send:hover{
  color: #f5a623;
  background: #fff;
  border:2px double #f5a623;
  animation :shake 0.2s;

}
::placeholder {
  color: #ffdac5;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ffdac5;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #ffdac5;
}
.all_items .animate{

 height: 170px;
 position: absolute;
 bottom: -80px;

}
.hidden{
  visibility: hidden;
}
.visible{
  visibility: visible;;
}
.toTop{
  width:45px;
  height:45px;
  border-radius:50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #964fb5;
  cursor: pointer;
  opacity: .7;
  transition: all .15s ease-in;
}
.toTop:hover{
  background-color: #8340a1;
   opacity:1;
}
.toTop i{
  transform: scale(1.4);
  color:#fff;
}
